---
// src\components\shared\GradiantText.astro
---
<span
  class="text-transparent bg-clip-text bg-gradient-to-br from-primary-500 from-20% via-primary via-50% to-primary-500 dark:from-accent-700 dark:from-20% dark:via-accent-200 dark:via-50% dark:to-accent-700"
>
  <slot />
</span>