---
// src\layouts\Navbar.astro
import Container from "../components/shared/Container.astro";
import Navitem from "../components/shared/Navitem.astro";
import BtnLink from "../components/shared/BtnLink.astro";
import BtnThemeSwitch from "../components/shared/BtnThemeSwitch.astro";

const navItems = [
  {
    href: "#",
    text: "Para vos",
  },
  {
    href: "#",
    text: "TDH",
  },
  {
    href: "#",
    text: "Cuotas",
  },
  {
    href: "#",
    text: "Destinos",
  },
  {
    href: "#",
    text: "Promociones",
  },
  {
    href: "#",
    text: "Empresas",
  },
  {
    href: "#",
    text: "Info",
  },
  {
    href: "#",
    text: "Exclusivo",
  },
];

---

<header class="absolute inset-x-0 top-0 z-50 py-6 px-6">
  <!-- <Container> -->
  <nav class="w-full flex justify-between gap-6 relative">
    <!-- logo -->
    <div class="min-w-max inline-flex relative">
      <!-- LOGO -->
      <a href="/energy-template" class="relative flex items-center gap-3">
        <!-- Ãcono del logo -->
    <div class="relative h-7 w-7 overflow-hidden flex rounded-xl">
      <svg
        class="fill-accent"
        viewBox="0 0 40 40"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M25.5557 11.6853C23.9112 10.5865 21.9778 10 20 10V0C23.9556 0 27.8224 1.17298 31.1114 3.37061C34.4004 5.56823 36.9638 8.69181 38.4776 12.3463C39.9913 16.0008 40.3874 20.0222 39.6157 23.9018C38.844 27.7814 36.9392 31.3451 34.1421 34.1421C31.3451 36.9392 27.7814 38.844 23.9018 39.6157C20.0222 40.3874 16.0008 39.9913 12.3463 38.4776C8.6918 36.9638 5.56823 34.4004 3.37061 31.1114C1.17298 27.8224 0 23.9556 0 20H10C10 21.9778 10.5865 23.9112 11.6853 25.5557C12.7841 27.2002 14.3459 28.4819 16.1732 29.2388C18.0004 29.9957 20.0111 30.1937 21.9509 29.8078C23.8907 29.422 25.6725 28.4696 27.0711 27.0711C28.4696 25.6725 29.422 23.8907 29.8078 21.9509C30.1937 20.0111 29.9957 18.0004 29.2388 16.1732C28.4819 14.3459 27.2002 12.7841 25.5557 11.6853Z"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10 0C10 1.31322 9.74135 2.61358 9.2388 3.82684C8.73625 5.04009 7.99966 6.14248 7.07107 7.07107C6.14249 7.99966 5.0401 8.73625 3.82684 9.2388C2.61358 9.74134 1.31322 10 0 10V20C2.62644 20 5.22716 19.4827 7.65368 18.4776C10.0802 17.4725 12.285 15.9993 14.1421 14.1421C15.9993 12.285 17.4725 10.0802 18.4776 7.65367C19.4827 5.22715 20 2.62643 20 0H10Z"
        />
      </svg>
    </div>
    <!-- Texto al lado del logo -->
    <span class="text-xl font-extrabold text-accent">VyT Exclusive</span>
      </a>
    </div>

    <div
      data-nav-overlay
      aria-hidden="true"
      class="fixed hidden inset-0 lg:!hidden bg-box-bg bg-opacity-50 backdrop-filter backdrop-blur-xl"
    >
    </div>
    <div
      data-navbar
      class="flex h-0 overflow-hidden lg:!h-auto lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-body lg:bg-transparent border-x border-x-box-border lg:border-x-0"
    >
      <ul
        class="border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-heading-2 w-full lg:justify-end lg:items-center"
      >
        {
          navItems.map((item) => {
            return <Navitem {...item} />;
          })
        }
      </ul>

      <div
        class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-box-bg lg:border-0 px-6 lg:px-0"
      >
        <BtnLink
          text="Get Started"
          href="#cta"
          className="flex justify-center w-full sm:w-max text-lg text-heading-2"
          variant="cta"
        />
      </div>
    </div>

    <div class="min-w-max flex items-center gap-x-3">
      <!-- Theme Switch -->
      <BtnThemeSwitch variant="primary" />

      <!-- Navbar toggle -->
      <button
        data-toggle-nav
        data-open-nav="false"
        class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative"
      >
        <span
          id="line1"
          class="w-6 h-0.5 rounded-full bg-heading-2 transition-all duration-300 ease-linear bg-black dark:bg-white"
        ></span>
        <span
          id="line2"
          class="w-6 origin-center mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear bg-black dark:bg-white"
        ></span>
        <span
          id="line3"
          class="w-6 mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear bg-black dark:bg-white"
        ></span>
        <span class="sr-only">togglenav</span>
      </button>
    </div>
  </nav>
  <!-- </Container> -->
</header>
